@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600);

html {
  font-family:"Open Sans";
  color:white;
  cursor:url('../img/garlic-cursor.png'), auto;
}

a{text-decoration:none}

#result {
  width:400px;
  margin:0 auto;
  border-style:solid;
  border-width:3px;
  border-color:#292929;
  border-radius:5px;
  text-align:center;
  color: #292929;
  margin-top:30px;
  padding-bottom:10px;
  background-color:white;
}

.button{
  margin-left:0;
  width:100%;
  margin-top:5px;
  padding-top:5px;
  padding-bottom:5px;
  font-size:20px;
  display:inline-block;
  text-align:center;
  border-style:solid;
  border-width:3px;
  border-color:#2d6272;
  border-radius:5px;
  color:white;
  font-weight:800;
  z-index=100;
  transition-duration:0.25s;
  background-color:none;
}

#twitter {
  width:400px;
  margin:0 auto;
}

.button:hover {
  opacity:1;
  color:white;
  transition-duration:0.25s;
  cursor:pointer;
  background-color:#2d6272;
}

body {
  background-image:url(../img/darkgarlic.jpg);
  background-size:cover;
  background-attachment:scroll;
}

input {
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:15px;
}

* {
  margin: 0;
  margin-top:0;
  padding: 0;
}

h2 {
  color:#2d6272;
  color:white;
  line-height:100%;
}

.sec {
  display:block;
  width:50%;
  margin:0 auto;
  margin-top:20px;
  margin-bottom:25px;
/*   display:inline-block;
  vertical-align:top; */
}

a {
  text-decoration:none;
  color:#42e1bd;
  font-weight:600;
  transition-duration:0.25s;
}

a:hover {
  opacity:0.5;
  transition-duration:0.25s;
}

.cont {
  margin-top:10px;
  font-weight:600;
  background-color:#2d6272;
  border-style:solid;
  border-width:5px;
  border-color:#2d6272;
  border-radius:5px;
  padding:5px;
}

h1 {
  text-align:center;
  font-weight:800px;
  font-size:50px;
  color:white;
}

#output {
  border-style:solid;
  border-color:#585858;
  border-width:3px;
  border-radius:5px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
  color:#585858;
  background-color:white;
}

#top {
  margin-bottom:20px;
  background-color:#2d6272;
  display:block;
  width:100%;
  margin-top:0;
  padding-top:10px;
  padding-bottom:10px;
}

#top p {
  text-align:center;
  font-size:20px;
}

.yourdonger {
  color: #292929;
  font-size:50px;
  text-align:center;
}


.asdfh1 {
  color: #2d6272;
  font-size:20px;
  
}