
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,700);

html {
    font-family: 'Raleway';
    color:white;
    background-color: #363636
}

h1 {
    text-align: center;
    font-size: 72;
    padding-top: 30;
    transition-duration: 0.5s;
}

h1:hover {
    text-shadow: 3px 3px 3px #191919;
    transition-duration: 0.5s;
}

li a {
    color:cornflowerblue;
}

#butt {
    padding-top: 5;
    padding-bottom: 5;
    margin:0 auto;
    background-color: cornflowerblue;
    font-weight: 700;
    transition-duration: 0.2s;
    color:white;
    
}

#butt:hover {
    transition-duration: 0.2s;
    box-shadow: 2px 2px 3px #191919;
}

a {
    text-decoration: none;
    font-weight: 700;
    transition-duration: 0.5s;
}

ul a:hover {
    color:white;
    transition-duration: 0.5s;
    text-shadow: 2px 2px 3px #191919;
}

#sub {
    text-align: center;
    font-size: 36px;
    margin-top:-50px;
    padding-bottom: 50px;
}

h2 {
    text-align: center;
}

#showcase {
    padding-top: 40;
    padding-bottom: 5;
    width:700;
    margin:0 auto;
    margin-bottom: 20;
    background-color: #505050;
    box-shadow: 5px 10px 3px #222222;
}

#showcase p {
    text-align: center;
    margin-left: 40;
    margin-right: 40;
}

#link-showcase {
    margin:0 auto;
    width: 500;
    padding:1 30 30 30;
    background-color: #505050;
    text-align: center;
    box-shadow: 5px 5px 3px #222222;
    margin-bottom: 20;
}


article p {
    margin: 0 auto;
    width: 700;
    margin-bottom: 30;
    text-align: center;
}

nav ul {
    list-style:none;
    text-align: center;
    margin:0;
    padding:0;
    margin-bottom: 50;
}

li {
    display: inline;
    padding-left: 10;
    padding-right: 10;
    padding-top: 5;
    padding-bottom: 5;
    margin:10;
}

canvas {
    display:block;
    margin-left: auto;
    margin-right: auto;
}