* {
  margin:0;
  padding:0;
  font-family:"Helvetica";
}

nav {
  background-color:#3e3f3a;
    height:75px;
}

li {
  display:inline-block;
  text-align:center;
  margin-left:10px;
  margin-right:10px;
  text-decoration:none;
  color:white;
  font-weight:600;
  font-size:12px;
}

li a {
  color:white;
  text-decoration:none;
}

ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display:inline-block;
}

ul h2 {
    display:inline-block;
    color:white;
    margin-left:100px;
}

}