@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);

html {
    font-family: 'Helvetica';
    color:white;
    background-color: #363636;
    
}

h1 {
    text-align: center;
    font-size: 72;
    padding-top: 30;
    transition-duration: 0.5s;
}

li a {
    color:cornflowerblue;
}

#butt {
    padding-top: 5;
    padding-bottom: 5;
    margin:0 auto;
    background-color: cornflowerblue;
    font-weight: 700;
    transition-duration: 0.2s;
    color:white;
    margin-top: 10;
    
}


.full:before {
    content:"VIEW FULL SIZE";
}

.play:before {
    content:"PLAY";    
}

.source:before {
    content:"SOURCE";
}

.play:before, .source:before, .full:before {
    padding-top: 5;
    padding-bottom: 5;
    display:inline-block;
    background-color: cornflowerblue;
    width:100%;
    font-weight: 700;
    transition-duration: 0.2s;
    color:white;
    margin-top: 10;
    text-align: center;
}

.play:hover:before, .source:hover:before, .full:hover:before {
    transition-duration: 0.2s;
    background-color: #FF4848;
}



#butt:hover {
    transition-duration: 0.2s;
    background-color: #FF4848;
}

a {
    text-decoration: none;
    font-weight: 700;
    transition-duration: 0.5s;
    color:cornflowerblue;
}

ul a:hover {
    color:white;
    transition-duration: 0.5s;
    text-shadow: 2px 2px 3px #191919;
}

#sub {
    text-align: center;
    font-size: 36px;
    margin-top:-50px;
    padding-bottom: 50px;
}

h2 {
    text-align: center;
}

#showcase {
    padding-top: 40;
    padding-bottom: 5;
    padding-left: 50;
    padding-right: 50;
    width:600;
    margin:0 auto;
    margin-bottom: 20;
    background-color: #505050;
    box-shadow: 5px 5px 3px #222222;
    border-radius: 10px;
    border: 10px solid #666666
}

#showcase p {
    text-align: center;
    margin-left: 40;
    margin-right: 40;
}

article p {
    margin: 0 auto;
    width: 700;
    margin-bottom: 30;
    text-align: center;
}

nav ul {
    list-style:none;
    text-align: center;
    margin:0;
    padding:0;
    margin-bottom: 50;
}

li {
    display: inline;
    padding-left: 10;
    padding-right: 10;
    padding-top: 5;
    padding-bottom: 5;
    margin:10;
}

canvas, img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.link-showcase {
    margin:0 auto;
    width: 500;
    padding:1 30 20 30;
    background-color: #505050;
    text-align: center;
    box-shadow: 5px 5px 3px #222222;
    margin-bottom: 20;
    border-radius: 10px;
    border: 10px solid #666666
}