@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    color: rgb(26, 26, 26);
    background-color: rgb(255, 254, 253);
}

.home-title {
    padding-top: 100px;
    padding-bottom: 56px;
}

.home-posts {
    list-style: none;
    padding: 0;
}

.home-posts li {
    margin-bottom: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    // line-height: 28px;
}
h1 {
    font-weight: 600;
}
h2 {
    font-weight: 500;
}
a {
    font-weight: 500;
    color: #2a7ae2;
    text-decoration: none;
}
li {
    line-height: 28px;
}

.section {
    max-width: calc(600px - (30px * 2));
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
}

.post-nav {
    padding-top: 36px;
}

.post-header {
    padding-top: 64px;
    padding-bottom: 56px;
}

.post-title {
    line-height: 28px;
    margin-bottom: 8px;
}

.post-meta {
    font-size: 14px;
    color: rgb(96, 96, 96);
}

.post-content {
    padding-bottom: 200px;
}

.post-content h1, .post-content h2, .post-content h3 {
    margin-top: 36px;
    margin-bottom: 28px;
    line-height: 28px;
}

.post-content p {
    line-height: 28px;
    margin-bottom: 28px;
}

.post-content img {
    display: block;
    max-width: 100%;
    border-radius: 4px;
    margin: 64px auto;
}

ol, ul {
    margin-bottom: 28px;
    padding-left: 24px;
}
li {
    line-height: 28px;
}
li+li {
    margin-top: 16px;
}

// If there are nested paragraphs, don't use their margins
.post-content li > p {
    margin-top: 0;
    margin-bottom: 0;
}

.post-content pre:has(code) {
    font-family: monospace;
    margin: 42px auto;
    border-radius: 4px;
    padding: 4px;
    overflow-x: auto;
}

.post-content p > code {
    font-size: 16px;
    background-color: rgb(240, 240, 240);
    padding: 2px 4px;
    border-radius: 4px;
}

// inline footnote thing
.post-content sup {
    line-height: 0;
}

.footnotes {
    border-top: 1px solid rgb(232, 232, 232);
    padding-top: 28px;
    margin-top: 28px;
}

.post-content blockquote {
    border-left: 2px solid rgb(232, 232, 232);
    padding-left: 12px;
    color: rgb(96, 96, 96);
}