// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/* CSS */
:root,
body {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    background-color: #FFFEFD;
    color: #1A1A1A;
    /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

* {
    // letter-spacing: -.01em;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.page-main-header {
    padding-top: 56px;
    padding-bottom: 56px;
}

.post-meta {
    color: #484848
}

.page-content {
    padding-top: 36px;
    padding-bottom: 200px;
}

.post-content h1, .post-content h2, .post-content h3 {
    margin-top: 36px;
    margin-bottom: 28px;
    line-height: 1.75rem;
}

.post-title,.post-content h1 {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: normal;
}

.post-title {
    line-height: 1.75rem;
    margin-bottom: 8px;
}

.post-content h2 {
    font-weight: 500;
    font-size: 1rem;
}

.post-content p {
    line-height: 1.75rem;
    margin-bottom: 28px;
}

.post-link {
    font-size: 1rem;
}

.post-content > p > img {
    display: block;
    margin: 64px auto;
    border-radius: 4px;
}

img.w50 {
    width: 50%;
}

img.w75 {
    width: 75%;
}

.footnotes {
    border-top: 1px solid #e8e8e8;
    padding-top: 28px;
    margin-top: 28px;
}

blockquote {
    font-size: 1rem;
}

ol, ul {
    margin-bottom: 28px;
}

li {
    line-height: 28px;
}

// Spacing between list items
li + li {
    margin-top: 16px;
}

.post-content li > p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    font-weight: 500;
}

// inline footnote thing
sup {
    line-height: 0;
}

.highlight {
    margin-bottom: 42px;
    margin-top: 42px;
    border-radius: 4px;
}
.highlighter-rouge .highlight, .highlight, code {
    background-color: rgb(245,245,245);
}