// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/* CSS */
:root,
body {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

* {
    letter-spacing: -.01em;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.page-main-header {
    padding-top: 36px;
    padding-bottom: 36px;
}

h3 {
    font-size: 0.05em;
    font-weight: 600;
}

h2 {
    font-weight: 600;
}

h1 {
    font-weight: 600;
}

.post-title {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -.01em;
}

@media screen and (min-width: 800px) {

    .post-title,
    .post-content h1 {
        font-size: 1.875rem;
    }
}

.post-link {
    font-size: 1rem;
}

.post-content>p>img {
    display: block;
    margin: 0 auto;
}

img.w50 {
    width: 50%;
}

img.w75 {
    width: 75%;
}