// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/* CSS */
:root,
body {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

* {
    // letter-spacing: -.01em;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.page-main-header {
    padding-top: 48px;
    padding-bottom: 48px;
}

h3 {
    font-size: 0.05em;
    font-weight: 600;
}

.post-content h2 {
    font-weight: 500;
    font-size: 1rem;
}

.post-content h1 {
    margin-bottom: 28px;
}

.post-content p {
    line-height: 28px;
    margin-bottom: 28px;
}

.post-title,.post-content h1 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: normal;
}

.post-title {
    margin-bottom: 0;
}

// @media screen and (min-width: 800px) {

//     .post-title {
//         font-size: 1.875rem;
//     }

//     .post-content h1 {
//         font-size: 1.775rem;
//     }

//     .post-content h2 {
//         font-size: 1.5rem;
//     }
// }

.post-link {
    font-size: 1rem;
}

.post-content>p>img {
    display: block;
    margin: 36px auto;
}

img.w50 {
    width: 50%;
}

img.w75 {
    width: 75%;
}

.footnotes {
    border-top: 1px solid #e8e8e8;
    padding-top: 28px;
    margin-top: 28px;
}

blockquote {
    font-size: 1rem;
}
