@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);

* {
    margin:0;
    padding:0;
    font-family:"Roboto";
}

@keyframes fade-in {
  from {opacity:0;}
  to {opacity:1;}
}
@keyframes fade-out {
  from {opacity:1;}
  to {opacity:0;}
}

h2 {
    font-weight:400;
    color:#00897B;
    margin-bottom:30px;
    font-size:36px;
}

body {
    background-color:#EEEEEE;
}

.info {
    width:370px;
    height:270px;
    position:absolute;
    padding:15px;
    background-color:white;
    display:none;
}

.info ul {
/*     margin:15px; */
}
.info li {
    list-style-type:none;
    margin-bottom:10px;
}

.info span {
    color:#00897B;
    font-weight:500;
}

.top-spacer {
    height:150px;
}

.top {
    z-index:10000;
    position:fixed;
    width:100%;
    padding:30px;    
    background-color:#00897B;
    color:white;
    margin-bottom:30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.top h1 {
    font-size:40px;
    font-weight:400;
    display:inline-block;
}
.top p {
/*     display:inline-block; */
}
.row {
    text-align:center;
}

.sec {
    text-align:left;
    display:inline-block;
    margin-right:10px;
    margin-left:10px;
    background-color:white;
    width:400px;
    height:300px;
    vertical-align:top;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition-duration:0.25s;
    margin-bottom:20px;
}

.sec:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
    transition-duration:0.25s;
}

.button {
    margin-right:10px;
    color:#FF3D00;
    font-weight:600;
    cursor:pointer;
    font-size:14px;
}

.button-container {
    position: absolute;
	bottom: 0px;
    padding-bottom:10px;
}

.text-container {
    padding:15px;
    position:relative;
    width:370px;
    height:90px;
}

.sec h3 {
    color:white;
    font-size:28px;
    
/*     text-align:right; */
    font-weight:300;
}

.img-container {
    padding:15px;
    background-size:cover;
    height:150px;
    width:400px;
    display:table-cell;
    vertical-align:bottom;
}

@media screen and (max-width:450px) {
    .sec {
        width:90%;
    }
    .text-container {
        width:90%;
    }
    .top {
        padding:20px;
    }
}